.logo {
  height: 25px;
  width: auto;
}

.navItem {
  display: inline-block;
}

.navItem + .navItem {
  margin-left: 1rem;
}

@media screen and (min-width: 851px) {
  .navItem {
    display: inline-block;
  }

  .navItem + .navItem {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 850px) {
  .navItem {
    display: block;
    text-align: center;
    max-width: 170px;
    margin: 0 auto 3rem;
    position: relative;
  }

  .navItem a {
    font-size: 1.5rem;
  }

  .navItem + .navItem {
    margin-left: auto;
  }

  .navItem::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--current-theme-color-200);
    width: 100%;
    height: 20%;
    z-index: -1;
  }
}

